*,
*:after,
*:before {
    box-sizing: border-box;
}

:root {
    --lighter-grey: #ededed;
    --light-grey: #D8D9CF;
    --dark-grey: #363636;
    --cell-size: 120px;
    --mark-size: calc(var(--cell-size) * 0.9)
}

body {
    margin: 0;
    background-color: var(--lighter-grey);
}

.boardContainer {
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

#boardContainer>div {
    height: var(--cell-size);
    width: var(--cell-size);
    background-color: var(--lighter-grey);
    border: 3px solid var(--dark-grey);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#boardContainer>div.x,
#boardContainer>div.o {
    cursor: not-allowed;
}

#boardContainer>div.x::before,
#boardContainer>div.x::after {
    content: '';
    width: calc(var(--mark-size) * 0.15);
    height: var(--mark-size);
    background-color: var(--dark-grey);
    position: absolute;
}

#boardContainer>div.x::before {
    transform: rotate(45deg);
}

#boardContainer>div.x::after {
    transform: rotate(-45deg);
}

#boardContainer>div.o::before,
#boardContainer>div.o::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

#boardContainer>div.o::before {
    width: var(--mark-size);
    height: var(--mark-size);
    background-color: var(--dark-grey);
}

#boardContainer>div.o::after {
    width: calc(var(--mark-size) * 0.7);
    height: calc(var(--mark-size) * 0.7);
    background-color: var(--lighter-grey);
}

#boardContainer>div:first-child,
#boardContainer>div:nth-child(2),
#boardContainer>div:nth-child(3) {
    border-top: none;
}

#boardContainer>div:first-child,
#boardContainer>div:nth-child(4),
#boardContainer>div:nth-child(7) {
    border-left: none;
}

#boardContainer>div:nth-child(3),
#boardContainer>div:nth-child(6),
#boardContainer>div:nth-child(9) {
    border-right: none;
}

#boardContainer>div:nth-child(7),
#boardContainer>div:nth-child(8),
#boardContainer>div:nth-child(9) {
    border-bottom: none;
}

.winning-message {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: white;
    font-family: sans-serif;
}

.winning-message button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
    border-radius: 5px;
}

.winning-message button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.winning-message.show {
    display: flex;
}